<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <outputPatternAsHeader>false</outputPatternAsHeader>
            <pattern>%highlight(%-5level) %gray(%d{HH:mm:ss.SSS}) %boldYellow(:) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info"><appender-ref ref="STDOUT"/></root>

</configuration>
